//- URL_LIST

div.container.urls
	table
		thead
			tr
				th LongURL
				th ShortURL
				th Action
		tbody
			each val in urls
				tr
					td
						a(href=val.url) #{val.url}
					td.rdct-link-cntr
						a(href=`/${val.id}`,target='_blank').rdct-link http://#{hostname}/#{val.id}
					td
						form(action=`/${val.id}?_method=DELETE`, method='POST', style='padding:0;margin:0;')
							button(type='submit', title='Delete this url address, this action can\'t be undone.' ).btn-delete &times;